# Version Control
.git/
.github/
.gitignore

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Temporary Files
*.log
*.tmp
*.swp
*.bak

# Documentation
README.md

# Helm Test Files
templates/tests/